---
import { ArrowLeft } from "@lucide/astro";
---
  <ol class="font-sans text-base text-subtext pl-0 mt-[285px] p-4 w-[245px] rounded-sm hidden lg:block">
    <a
      href="/"
      class="text-text hover:text-subtext hidden lg:flex flex-row gap-0.5 items-center cursor-pointer mb-6"
    >
      <ArrowLeft size={16} stroke-width={1.7} />
      Back
    </a>

    <li class="flex flex-col gap-2">
      <slot />
      <!-- Example: <a href="#overview">Overview</a> -->
    </li>
  </ol>