---
import { ArrowLeft } from "@lucide/astro";
---
<div>
  <ol class="font-sans text-base text-subtext pl-0 mt-71.25 pt-24 p-4 w-61.25 rounded-sm hidden lg:block sticky top-0">
    <a
      href="/"
      class="text-text hover:text-subtext hidden lg:flex flex-row gap-0.5 items-center cursor-pointer mb-6"
    >
      <ArrowLeft size={16} stroke-width={1.7} />
      Back
    </a>

    <li class="flex flex-col gap-2">
      <slot />
      <!-- Example: <a href="#overview">Overview</a> -->
    </li>
  </ol>
</div>