---
import { Copyright } from "@lucide/astro";
---

<footer
  class="font-sans text-subtext text-sm flex sm:flex-row sm:justify-between flex-col items-center px-12 py-6"
>
  <p>Thanks for dropping by!</p>
  <p class="flex flex-row gap-1 items-center">
    <Copyright size={14} stroke-width={1.7} />
    2026 Angela Ho
  </p>
</footer>
