---

---

<footer
  class="font-sans text-subtext text-sm flex sm:flex-row sm:justify-between flex-col items-center px-12 py-6 pt-20"
>
  <p>Thanks for dropping by!</p>
  <p class="flex flex-row gap-1 items-center">
    &copy <span id="copyright-year"></span> Angela Ho. All rights reserved.
  </p>
</footer>

<script>
  document.querySelector("#copyright-year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
