---
import { Moon } from "@lucide/astro";
import { Sun } from "@lucide/astro";

import contact from "../data/contact.js";
---

<header
  class="sticky top-0 z-10 bg-background font-sans text-text text-base flex flex-row justify-between sm:px-8 px-4 py-4"
>
  <a href="/" class="p-2 cursor-pointer hover:text-subtext">~/angela</a>
  <div class="flex flex-row gap-6">
    {
      contact.map((c) => (
        <a href={c.link} target="_blank" class="p-2 cursor-pointer hover:text-subtext">
          {c.name}
        </a>
      ))
    }
    <button id="themeToggle" class="p-2 cursor-pointer hover:text-subtext">
      <span class="moon">
        <Moon size={18} stroke-width={1.7} />
      </span>
    </button>
  </div>
</header>

<style>
  /* p-2 cursor-pointer hover:text-subtext */
  a {
    padding: calc(var(--spacing) * 2);
    cursor: pointer;
  }
  a:hover {
    color: var(--color-subtext);
  }
</style>
